body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.container {
    height: 100%;
    width: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
}

.board-row {
    height: 12.5%;
    width: 100%;
    background-color: #dbc183;
    display: flex;
    flex-direction: row;
}

.board-row > .cube {
    height: 100%;
    width: 12.5%;
}

.board-row:nth-child(even) > .cube:nth-child(odd) {
    background-color: #8e613b;
}

.board-row:nth-child(odd) > .cube:nth-child(even) {
    background-color: #8e613b;
}